{% extends 'base.html' %}
{% block content %}
  <h1>More about the mLAB Vive</h1>
  <p class="lead">Experiences:</p>
  <ul>
    <li><a href="http://store.steampowered.com/app/453170/">Destinations</a></li>
    <li><a href="http://store.steampowered.com/app/384750/">EVEREST VR</a> (soon)</li>
    <li><a href="http://store.steampowered.com/app/348250/">Google Earth VR</a></li>
    <li><a href="http://store.steampowered.com/app/517160/">Richie's Plank Experience</a> (soon)</li>
    <li><a href="http://store.steampowered.com/app/327140/">Tilt Brush</a></li>
    <li><a href="http://store.steampowered.com/app/436820/">Waltz of the Wizard</a></li>
  </ul>
  <p class="lead">Games:</p>
  <ul>
    <li><a href="http://store.steampowered.com/app/412740/">Audioshield</a></li>
    <li><a href="http://store.steampowered.com/app/459860/">Budget Cuts Demo</a></li>
    <li><a href="http://store.steampowered.com/app/270130/">The Gallery – Episode 1: Call of the Starseed</a></li>
    <li><a href="http://store.steampowered.com/app/357670/">Home Improvisation: Furniture Sandbox</a></li>
    <li><a href="http://store.steampowered.com/app/448280/">Job Simulator</a></li>
    <li><a href="http://store.steampowered.com/app/341800/">Keep Talking and Nobody Explodes</a></li>
    <li><a href="http://store.steampowered.com/app/450390/">The Lab</a></li>
    <li><a href="http://store.steampowered.com/app/446750/">Portal Stories: VR</a></li>
    <li><a href="http://store.steampowered.com/app/471710/">Rec Room</a></li>
    <li><a href="http://store.steampowered.com/app/446620/">Zombie Training Simulator</a></li>
  </ul>
  <p class="lead">Want something else?</p>
  <p>
    Ask ahead of your appointment and we can see about getting it!
    <br>
    Good list of ideas:
    <a href="http://store.steampowered.com/search/?sort_by=Price_ASC&tags=21978&vrsupport=101">the free/free-to-play Vive games</a>
    <br>
    <em>Some</em> Oculus-exclusive titles are supported, but this <strong>hasn't been tested yet</strong>.
  </p>
{% endblock %}
