{% extends 'base.html' %}
{% block css %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css" rel="stylesheet">
  <style>
    .fc-event {
      text-decoration: none !important;
    }

    .fc-event:focus {
      color: #fff;
    }

    .fc-event.available {
      background-color: limegreen;
      border-color: transparent;
    }

    .fc-event.unavailable {
      background-color: red;
      border-color: transparent;
      cursor: default;
    }
  </style>
{% endblock %}
{% block content %}
  <h1>Reserve VR Time!</h1>
  <a href="{{ url_for('.create') }}" class="btn btn-default btn-sm">Use the form</a>
  <br><br>
  <div id="calendar"></div>
{% endblock %}
{% block javascript %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js"></script>
  <script>
      $('#calendar').fullCalendar({
          height: 'auto',
          events: '{{ url_for('.calendar_events') }}',
          eventClick: function (calEvent, jsEvent, view) {
              if (!calEvent.available) {
                  jsEvent.preventDefault();
              }
          }
      });
  </script>
{% endblock %}
